.btn{
    padding: .7em 2em;
    color: $white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all .2s ease-in;

    &--primary{
        background-color: $primary;
        border: solid 1px $primary;
    }

    &--secondary{
        border: solid 1px $white;
    }

    

    
}
.btn.basket{
    


    // position: relative;
    // &:after{
    //     position: absolute;
    //     content: "ss";
    //     background-image: url('/images/basket-light.svg');
    //     background-repeat: no-repeat;
    //     background-size: .6rem;
    //     width: 1em;
    //     height: 1em;
    //     right: 0;

    // }
}