
$primary: #E36224;
$secondary: #162C38;
$tertiary: #243F4E;

$white: #fff;
$light-gray-light: #eee;
$light-gray-dark: #ccc;
$medium-gray-light: #999;
$medium-gray-dark: #666;
$dark-gray-light: #292929;
$dark-gray-dark: #1C1C1C;
$black: #000;

$text-color: #212121;